# Ignore cloned ONSAS
/ONSAS/

# Ignore generate figures
*figs/*

# Ignore octave files
*octave-workspace

# Ignore vscode
*.vscode

# Ignore output folders form ONSAS
examples/*/output/*

# Ignore output files
*.out